[Unit]
Description=run task that need to be run on first boot only
ConditionPathExists=!/etc/hypriot-firstboot_not_to_be_run

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hypriot-firstboot

[Install]
WantedBy=multi-user.target
